<div class="container">
    <div ng-include="'banner.html'"></div>
    <div class="row">
        <div class="col-md-7">
        	<h2>Welcome to the SpotTheList!</h2>
        	<p>This is a very easy sharing web site for the Spotify lists.<p>
        	<p>You can share and find playlists, listen them on website or on Spotify.</p>
        	<p>Have Fun!</p>
        </div>
     </div>
 </div>