<div class="container">
	<div ng-include="'banner.html'"></div>
	<div class="row">
		<div class="col-md-7"> 
			<div class="alert alert-warning">
				You must login with Facebook to add a list
			</div>
		</div>
	</div>	
	<div class="row" ng-model="listData">
		<div class="col-md-7"> 
			<form name="addListForm"  role="form" >
				<div class="form-group">
						<label for="name">Name of the list:</label>
						<input type="text" ng-model="listData.name" required name="name" class="form-control">
						<span ng-show="addListForm.name.$touched && addListForm.name.$invalid">Name is required</span>	
				</div>
				
				<div class="form-group">
					<label for="sporifyUri">Spotify Uri:</label>
					<input type="text" ng-model="listData.spotifyUri" name = "spotifyUri" required class="form-control" ng-pattern="'^spotify\:user\:[a-zA-Z0-9]*\:playlist\:[a-zA-Z0-9]*'">
					<span ng-show="addListForm.spotifyUri.$touched && addListForm.spotifyUri.$invalid">SpotifyUri is required</span>
				</div>
				<div class="form-group">
					<label for="tags">Tags:</label>
					<tags-input ng-model="listData.tags" name="tags">
						<auto-complete source="getTagsFromService($query)"></auto-complete>	
					</tags-input>
				</div>

				<button ng-click="addList()" class="btn btn-default" ng-disabled="addListForm.spotifyUri.$invalid||addListForm.name.$invalid"
					 >Add List</button>
			</form>
		</div>
	</div>
</div>


