<div class="row">
	<div class="col-md-7">
                <!--<img class="img-responsive" src="http://www.minnytix.com/images-new/concert-banner.png" alt="">-->
                <img class="img-responsive" src="http://www.freewebheaders.com/wordpress/wp-content/gallery/acting-show/colorful-close-up-of-music-dj-turntable-web-header.jpg" alt="">
 	</div>
</div>

<div class="row">
	<div class="col-md-7">
                <hr />
 	</div>
</div>