<div class="container">
    <div ng-include="'banner.html'"></div>
    <div class="row">
        <div class="col-md-7">
        	<h2>Hello my name is Tolga!</h2>
        	<p>I work as a programmer for years. After years of working for the companies I realized that I don't have any project for myself.<p>
        	<p>So I decided do build this web site for my self.</p>
        	<p>I hope you like it!</p>
        	<p>for any question reach me with tolgasaglam@gmail.com.</p>
        </div>
     </div>
 </div>