<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <title>Spotthelist, share and listen spotify lists</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">
    <link href="css/toastr.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="ng-tags-input.min/ng-tags-input.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="ng-tags-input.min/ng-tags-input.min.js"></script>
    <script type="text/javascript" src = "js/server.js"></script>
    
    

</head>

<body ng-app="sharingApp" ng-controller="indexController">
    <script type="text/javascript" src = "js/facebook.js"></script>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Spot The List</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" ng-click="openPage('about.html')">About</a>
                    </li>
                    <li>
                        <a href="#" ng-click="openPage('contact.html')">Contact</a>
                    </li>
                </ul>
            </div>
                
            
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Menu</p>
                <div class="list-group">
                    <a href="#" ng-class="{'list-group-item active':includeFile=='main.html','list-group-item':includeFile!='main.html'}" ng-click="openRecentLists();">Recent Lists</a>
                    <a href="#" ng-class="{'list-group-item active':includeFile=='tags.html','list-group-item':includeFile!='tags.html'}" ng-click="openTags();">Tags</a>
                    <a href="#" ng-class="{'list-group-item active':includeFile=='add_list.html','list-group-item':includeFile!='add_list.html'}" ng-click="openAddList()">Add a List</a>
                    <span class="list-group-item list-group-item-info text-center">
                        <input type="text" name="searchText" ng-model="searchText"><button ng-click="searchLists(searchText)">Search</button>
                    </span>
                    <span class="list-group-item list-group-item-warning text-center">
                        <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false"   data-auto-logout-link="true" onlogin = "checkLoginState()"></div>
                        <div class="fb-share-button" data-href="http://www.spotthelist.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
                    </span>

                </div>
            </div>
           <div ng-include="includeFile" class="col-md-9">
           </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>


    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="js/notifications.js"></script>

</body>

</html>
