<div class="container">
    <div ng-include="'banner.html'"></div>
    <div class="row">
        <div class="col-md-7" ng-model="spotifyList">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4 class="pull-right"><a ng-href="{{createListUrlToOpen(spotifyList.spotifyUri)}}">Open in Spotify<span class="glyphicon glyphicon-play-circle"></span></a></h4>
                    <h4><a href="#">{{spotifyList.name}}</a>
                    </h4>
                    by
                        <a href="#"" ng-click="openListsByUser(spotifyList.uid)"><span>{{spotifyList.username}}</span></a>
                        <a href="#" ng-show="isOwner(spotifyList.uid)" ng-click="editList(spotifyList)"><span>Edit list</span></a>
                        <a href="#" ng-show="isOwner(spotifyList.uid)" ng-click="deleteList(spotifyList.id)"><span>Delete list</span></a>
                    <p>
                        <iframe ng-src="{{createListUrlToEmbed(spotifyList.spotifyUri)}}" width="620" height="580" frameborder="0" allowtransparency="true"></iframe>
                    </p>
                </div>
                <div class="ratings">
                    <p class="pull-right">
                            <span ng-repeat="tag in spotifyList.tags" class="badge">{{tag.text}}</span>
                    </p>
                    <p>
                     
                     <a href=# data-toggle="tooltip" title="Rate this list for {{n+1}} star(s)" ng-repeat="n in [] | starRange:0:5" ng-click="rateTheList(spotifyList.id,n+1)">    
                        <span ng-class="{'glyphicon glyphicon-star':(n+1)<=spotifyList.rating,'glyphicon glyphicon-star-empty':(n+1)>spotifyList.rating}"></span>
                     </a>       
                    stars {{spotifyList.rateCount}} ratings
                    </p>
                </div>    
            </div>

            <div class="well">
                    <div class="text-right">
                            <div class="form-group">
                                <input type="text" ng-model="comment" name="name" class="form-control">
                            </div>
                            <a class="btn btn-success" ng-click="addCommentToList(spotifyList.id,comment)">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row" ng-repeat="comment in spotifyList.comments">
                        <div class="col-md-12">
                            <span class="pull-right">{{comment.name}}</span>
                            <p>{{comment.comment}}</p>
                            <hr />
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>        
