<div class="container">
    <div ng-include="'banner.html'"></div>
    <div class="row">
        <div class="col-md-7" ng-repeat="list in lists">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4 class="pull-right"><a ng-href="{{createListUrlToOpen(list.spotifyUri)}}">Open in Spotify<span class="glyphicon glyphicon-play-circle"></span></a></h4>
                    <h4>
                        <a href="#" ng-click="getTheList(list.id)">{{list.name}}</a>
                        <span ng-show="false" ng-bind="list.id"></span>
                    </h4>
                     by
                        <a href="#"" ng-click="openListsByUser(list.uid)"><span>{{list.username}}</span></a>
                    <p>
                        <iframe ng-src="{{createListUrlToEmbed(list.spotifyUri)}}" width="620" height="80" frameborder="0" allowtransparency="true"></iframe>
                    </p>
                </div>
                <div class="ratings">
                    <p class="pull-right">
                            <a href=# ng-click="getListsByTag(tag.text)" ng-repeat="tag in list.tags"><span class="badge">{{tag.text}}</span></a>
                    </p>
                    <p>
                     
                     <a href=# data-toggle="tooltip" title="Rate this list for {{n+1}} star(s)" ng-repeat="n in [0,1,2,3,4]" ng-click="rateTheList(list.id,n+1)">    
                        <span ng-class="{'glyphicon glyphicon-star':(n+1)<=list.rating,'glyphicon glyphicon-star-empty':(n+1)>list.rating}"></span>
                     </a>       
                    stars {{list.rateCount}} ratings
                    </p>
                </div>    
            </div>
        </div>
    </div> 
    <div class="row pull-center">
        <div class="col-md-7 pull-center">
            <ul class="pagination">
                <li ng-class="{'disabled':page==1}"><a href="#" ng-click="gotoPage(page-1)"> << </a></li>
                <li ng-class="{'active':(page==(n+1))}" ng-repeat="n in [] | starRange:0:(pageCount>0?pageCount:1)"><a href="#" ng-click="gotoPage(n+1)">{{n+1}}</a></li>
                <li ng-class="{'disabled':page==pageCount||pageCount==0}"><a href="#" ng-click="gotoPage(page+1)"> >> </a></li>
            </ul>
        </div>
    </div>       
</div>



