<div class="container">
		<div ng-include="'banner.html'"></div>
		<div class="row">
			<div class="col-md-7">
					<ul class="breadcrumb">
						<li ng-repeat="tag in all_tags">
							<a href=# ng-click="getListsByTag(tag.text)">
								<span class="badge">{{tag.text}}</span>
							</a>
						</li>
					</ul>
			</div>
		</div>
</div>

